body {
    font-family: 'Oswald', sans-serif;
}
.text-blue {
  color: #4D3886
}
.card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.card {
  max-width: 500px;
  height: 300px;
}

.card-body {
  padding: 20px;
  overflow-y: auto;
  max-height: 300px;
}

.card-container {
    margin-left: 10px;
    margin-right: 10px;
}
.custom-navbar-color{
    background-color: #C8C2D6;
}
.centered {
    text-align: center;
}
.pink {
    color: #d4029f;
}
.large-caps {
    font-size: 24px;
    text-transform: uppercase;
}
.message_flash {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeout 5s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}