{% extends 'base.html'%}

{% block title %}О нас{% endblock %}

{% block  content %}

    <h1 style="display:flex; justify-content: center; margin-top: 20px; font-size: 50px; color: #fc0fc0">О нас</h1>
    <div style="margin-left: 20px;font-size: 18px;">
      <p>Мы рады приветствовать вас на нашем сайте, посвященном музыке!</p>
      <p>Наша цель - создать общину любителей музыки, которые хотят узнать больше о музыкальной индустрии, её тенденциях, артистах и событиях.</p>
      <h2 style="color: #fc0fc0">Что вы найдете на нашем сайте?</h2>
      <p>На нашем сайте вы найдете:</p>
      <ul>
        <li>Последние новости о музыкальной индустрии;</li>
        <li>Рецензии на альбомы и концерты;</li>
        <li>Интервью с артистами;</li>
        <li>Статьи о музыкальных трендах;</li>
        <li>Информацию о музыкальных фестивалях и мероприятиях;</li>
        <li>И многое другое...</li>
      </ul>
      <h2 style="color: #fc0fc0">Как мы работаем?</h2>
      <p>Наш сайт управляется командой энтузиастов, которые любят музыку и хотят делиться своим знанием и опытом с другими.</p>
      <h2 style="color: #fc0fc0">Как сотрудничать с нами?</h2>
      <p>Если вы артист, менеджер, промоутер, и хотите сотрудничать с нами, пожалуйста, свяжитесь с нами через наш контактный e-mail:</p>
      <p><a href="mailto:testkaze01@gmail.com">testkaze01@gmail.com</a></p>
      <p>Мы рады сотрудничать с артистами, лейблами и другими организациями, которые хотят представить свой продукт или услугу нашим читателям.</p>
      <p>Спасибо за интерес к нашему сайту! Мы надеемся, что вы найдете здесь много интересного и полезного.</p>
    </div>
{%endblock %}