<!-- index.html -->
{% extends 'base.html'%}

{% block title %}Домашняя страница{% endblock %}

{% block  content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
             <ul class="flashes">
                {% for message in messages %}
                 <div class="message_flash">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if current_user.is_authenticated %}
        <div style="display:flex; justify-content: center; margin-top: 20px;">
            <h1 class="text-blue">
                Кратко о музыкальной индустрии
            </h1>
        </div>
        <hr>
        <div class="row justify-content-start">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            {% if article.photo %}
                                <img src="{{ url_for('static', filename='uploads/' + article.photo) }}" alt="Изображение статьи" class >
                            {% endif %}
                            <p class="card-text">{{ article.description }}</p>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 and loop.index != articles|length %}
                    </div><div class="row justify-content-start">
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
    <h3 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">Здесь отображаются новости об артистах. Зарегистрируйтесь или авторизируйтесь, чтобы просматривать статьи. Хорошего Вам дня!</h3>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
    $(function() { // setTimeout() function will be fired after page is loaded
// it will wait for 5 sec. and then will fire
// $(".message_flash").hide() function
        setTimeout(function() {
            $(".message_flash").hide('blind', {}, 500)
        }, 5000);
    });
    </script>
  {% endif %}

{% endblock %}